/* RESET VITE DEFAULT CENTERING */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* REMOVE FLEX CENTERING */
html, body, #root {
  width: 100%;
  height: 100%;
}

/* CLEAN BODY BASE */
body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  min-width: 320px;
  min-height: 100vh;
}